#!/bin/bash
set -ex

# Docker specific configs
DOCKER_VOLUME_MOUNT="/Volumes/vera"

# Mac specific configs
MAC_VOLUME_MOUNT="/Users/steve/Desktop"

# Switch based on system
if [[ "$OSTYPE" == "linux-gnu" ]]; then
    VOLUME_PATH="/Volumes/vera/vc1.vc"
elif [[ "$OSTYPE" == "darwin"* ]]; then
    VOLUME_PATH="/Users/steve/Desktop/vc1.vc"
fi